:root{
  --bg:#0f2027;
  --text:white;
  --card:rgba(255,255,255,0.1);
}

body.light{
  --bg:#f4f4f4;
  --text:#222;
  --card:#fff;
}

body{
  background:var(--bg);
  color:var(--text);
  font-family:sans-serif;
  transition:.3s;
}


nav{
  display:flex;
  justify-content:space-between;
  padding:15px;
  background:#111;
}

nav ul{
  display:flex;
  gap:15px;
}

nav ul li{
  list-style:none;
}

nav a{
  color:white;
  text-decoration:none;
}

.menu-toggle{
  display:none;
  cursor:pointer;
}

@media(max-width:768px){
  nav ul{
    display:none;
    flex-direction:column;
  }

  nav ul.active{
    display:flex;
  }

  .menu-toggle{
    display:block;
  }
}


.hero{
  text-align:center;
  padding:60px;
}

.projects{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
}

.card{
  background:var(--card);
  padding:20px;
  border-radius:10px;
}

#list li{
  margin:10px 0;
}

#list button{
  margin-left:10px;
}


.product{
  background:var(--card);
  margin:10px 0;
  padding:10px;
  border-radius:8px;
}

.fade{
  opacity:0;
  transform:translateY(20px);
  transition:.5s;
}

.fade.show{
  opacity:1;
  transform:translateY(0);
}