* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0f172a;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: #020617;
  position: sticky;
  top: 0;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
}

.logo {
  color: #38bdf8;
}

.home {
  text-align: center;
  padding: 100px 20px;
}

.profile-img {
  width: 160px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 4px solid #38bdf8;
}

.home span {
  color: #38bdf8;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 25px;
  background: #38bdf8;
  color: #000;
  border-radius: 30px;
  text-decoration: none;
}

section {
  padding: 80px 50px;
  text-align: center;
}

.skills-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.skill {
  background: #1e293b;
  padding: 10px 20px;
  border-radius: 20px;
}

.project-card {
  background: #1e293b;
  padding: 20px;
  margin: 15px auto;
  max-width: 400px;
  border-radius: 10px;
}

form {
  max-width: 400px;
  margin: auto;
}

input, textarea, button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

button {
  background: #38bdf8;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}

